const capabilities = {
    maxInstances: 1,
    browserName: '',
    acceptInsecureCerts: false,
    appiumVersion: '1.20.0',
    platformName: 'iOS',
    udid: 'B0A273C2-B7A2-41F2-B289-9A26FBEE160E',
    platformVersion: '14.3',
    deviceName: 'TestiPhone11',
    app: './ios/build/HelloWorld/Build/Products/Debug-iphonesimulator/HelloWorld.app',
    automationName: 'XCUITest',
};
exports.capabilities = capabilities;