version: 2.1

# Define the jobs we want to run for this project
jobs:
  build:
    steps:
      - checkout
      - run: npm --version
  test:
    steps:
      - run: echo "this is the test job"

# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build